:root {
    /* Header colors */
    --header-bg-color: #FFFFFFAB;
    --box-shadow-color: #0000001f;
    
    /* Main colors */
    --main-white-color: #FFFFFF;
    --main-bg-color: #FAFAFA;
    --main-text-color: #000000;
    --main-accent-color: #3D8EDA;
    --grid-grey-color: #C8C7C7;
    
    /* DatePicker colors */
    --main-grey-1: #EBEBEB;
    --accent-grey-1: #929292;
    --accent-grey-2: #636264;
    --accent-grey-3: #5F5F5F;
    --accent-grey-4: #333437;

}