@import "./colors.css";
@import "./typography.css";

body {
  font-size: 16px;
  color: var(--main-text-color);
  position: relative;
  font: var(--main-text-font);
  height: 100vh;
}

body .vector-1 {
  width: 689px;
  position: absolute;
  z-index: -1;
}

@media (max-width: 768px) {
  body .vector-1 {
    width: 400px;
  }
}

body .vector-2 {
  width: 315px;
  position: absolute;
  bottom: -40vh;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body .vector-2 {
    display: none;
  }
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 836px;
  margin: 0 auto;
}
